  *{margin: auto;
    padding: auto;}
 
  body{
    position: relative;
    background-color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
   }
    
    header{
      background-color:darkgrey;
      color: seashell;
      padding: 40px;
      line-height: 60px;
      height: 75px;
      width: 100%;
     }

    
     h1 {font-size: 300%;}
    
     nav {text-align: right;}
    
     a {
      text-decoration: none;
      color: #FDF8F5;
      }
    
  main{
    display: flex;
    flex-wrap: wrap;


  }
    .underline {
    text-decoration: underline;
    list-style-type: none;
    text-align: right;
    display: inline;
    font-size: 40px;
    padding: 25px;

  }
  .text-center{
    text-align: center;
  }
  .Avatar{
    width:300px;
    border-radius: 50%;
   }


  .container2{
   border: 5px solid black;
   float: right;
   margin-top: 100px;
   margin-bottom: 50px;
   height: 100px;
   width: 1200px;
   background-color: dimgray ;
   color: seashell;
   text-align: center;
   flex:initial;
   }
   

 .mywork1{
   height: 300px;
   width: auto;
   background-size: cover;
   background-position: center;
 }
 .container3{
  border: 5px dashed black;
   float: right;
   margin-top: auto;
   margin-bottom: 200px;
   padding: 30px;
   height: 1500px;
   width: 1300px;
   background-color: dimgray ;
   text-align: center;
   flex:initial;}

 footer{
   flex-shrink: 0;
   padding: 20px;
   text-align: center;
   background-color: darkgray;
   color: seashell;
 }